<div class="container mt-4">
    <div class="card">
      <h1>Student Registration</h1>
      <form>
        <div class="form-group">
          <label>ID</label>
          <input type="text" [(ngModel)]="id" [ngModelOptions]="{standalone: true}" class="form-control" id="id" placeholder="Enter ID"> 
        </div>
  
        <div class="form-group">
          <label>Name</label>
          <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control" id="name" placeholder="Enter Name"> 
        </div>
  
        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" [(ngModel)]="description" [ngModelOptions]="{standalone: true}" id="description" placeholder="Enter Description"> 
        </div>
  
        <button type="submit" (click)="save()" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  
  <div class="container mt-4">
    <h1>Student Table</h1>
    <table class="table">
      <thead>    
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>  
          <th scope="col">Option</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of StudentArray">
          <td>{{ student.id }}</td>
          <td>{{ student.name | uppercase }}</td>
          <td>{{ student.description }}</td>
          <td>
            <button type="button" class="btn btn-success" (click)="setUpdate(student)">Edit</button>
            <button type="button" class="btn btn-danger" (click)="setDelete(student)">Delete</button>            
          </td>
        </tr>          
      </tbody>
    </table>
  </div>
  